.el_button{
	background: #b8849d;
}
.el_button:before{
	background: #b8849d;	
}
.el_button:after{
	background: #b8849d;	
}
.el_banner_caption .el_button{
	border:2px solid #b8849d;
}
.el_banner_caption .el_button:hover{
	border:2px solid #b8849d;
}
.el_navigation_menu ul li:hover a{
	color:#b8849d;
}
.el_navigation_menu ul li a i{
	color:#b8849d;
}
.el_navigation_menu ul li a.active{
	color:#b8849d;
}
.el_navigation_menu ul li .sub-menu li a{
	color:#b8849d;
}
.el_navigation_menu ul li .sub-menu li a:after{
    border-right: 12px solid #b8849d;
}
.el_navigation_menu ul li .sub-menu li a.active:after{
    border-right: 12px solid #b8849d;
}
.el_about_caption ul li i{
	color:#b8849d;
}
.el_counter_caption i{
    border: 2px solid #b8849d;
    background:#b8849d;
}
.el_team_overlay h4{
	color:#b8849d;
}
.el_team_overlay a i:hover{
	color:#b8849d;
}
.el_service_caption:before{
    content: "";
    position: absolute;
    top: -2px;
    left: 50%;
    height: 2px;
    width: 0;
    background: #b8849d;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.el_service_caption:after{
    background: #b8849d;
}
.el_service_caption .el_service_icon{
    color: #b8849d;
}
.el_service_caption:hover h2{
	color:#b8849d;
}
.el_service_caption:hover .el_service_icon{
    border:2px solid #b8849d;
    background:#b8849d;
}
.el_service_caption .el_button{
	background:#b8849d;
}
.el_service_caption .el_button:hover{
	color:#b8849d;
}
.el_pricing_header h1{
	background:#b8849d;
}
.el_pricing_footer .el_button{
	background:#b8849d;
}
.el_pricing_footer .el_button:hover{
	color:#b8849d;
}
.el_img_overlay a i{
	color:#b8849d;
}
.el_blog_content .blog_button{
    background: #b8849d;
    border:2px solid #b8849d;
}
.el_blog_content .blog_button:hover{
	color:#b8849d;
}
.el_testimonial_content:hover h5 a{
	color:#b8849d;
}
.rangeslider__fill{
	background:#b8849d;
}
.rangeslider__handle {
	background:#b8849d;
}
.el_form button{
	border:2px solid #b8849d;
}
.panel-heading{
	border:1px solid #b8849d;
}
.panel-heading a[aria-expanded="true"]{
	background:#b8849d;
}
.widget-title{ 
	border-bottom:2px solid #b8849d;
}
.widget.contact button{
	border:2px solid #b8849d;
}
.widget.text-widget ul li a i{
	color:#b8849d;
}
.widget.text-widget ul li i{
	color:#b8849d;
}
.el_footer_icon i{
    border: 2px solid #b8849d;
}
.el_footer_caption:hover .el_footer_icon i{
	background:#b8849d;
}
.el_page_title_caption ul li{
	color:#b8849d;
}
.el_doc_caption h2{
	background: #b8849d;
}
.el_doc_caption ul li i{
	color:#b8849d;
}
.el_contact_form .el_button:hover{
	color:#b8849d;
}
.el_contact_content:before{
    background: #b8849d;
}
.el_contact_content:after{
    background: #b8849d;
}
.el_contact_content .el_contact_icon{
    color: #b8849d;
}
.el_contact_content:hover .el_contact_icon{
	background:#b8849d;
	border:2px solid #b8849d;
}
.widget.widget_search form i{
    background: #b8849d;
}
.widget.widget_categories ul li a:hover{
	color:#b8849d;
}
.widget.widget_categories ul li a i{
	color:#b8849d;
}
.widget.widget_archives ul li a:hover{
	color:#b8849d;
}
.widget.widget_archives ul li a i{;
	color:#b8849d;
}
.widget.widget_tags a{
    background: #b8849d;
    border:2px solid #b8849d;
}
.widget.widget_tags a:hover{
	color:#b8849d;
}
.el_blog_item_content ul li i{
	color:#b8849d;
}
.el_blog_item_content blockquote{
    border-left: 5px solid #b8849d;
}
.el_comment_text h3 a:hover{
	color:#b8849d;
}
.el_form_group .el_button{
	background:#b8849d;
}
.el_form_group .el_button:hover{
	color:#b8849d;
}
.widget.text-widget ul li a:hover{
    color:#b8849d;
}
.el_footer_content p a:hover{
    color:#b8849d;
}
.el_img_overlay a:hover{
    color:#b8849d;
}
.el_blog_content h2 a:hover{
    color:#b8849d;
}